html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.screen {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-size: 20px;
	color: #555555;
}

.screen-intro {
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #344860;
}

.screen-copy a {
	color: #169bd9;
	text-decoration: none;
}

.screen-copy a:hover {
	text-decoration: underline;
}

.screen-links {
	display: inline-block;
	margin-top: 60px;
}

.screen-links li {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}

.screen-links a {
	display: block;
	width: 52px;
	height: 52px;
	border-radius: 100%;
	border: 1px solid #ddd;
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	transition: all .4s linear;
}

.screen-links a:hover {
	border-color: #169bd9;
}

.screen-links img {
	padding-top: 15px;
}